:root {
	--Primary: 215, 79%, 31%, 1;
	--gray: 0, 0%, 60%, 1;
	--lightBlue: 215, 79%, 31%, 0.47;
	--light: 0, 0%, 100%;
}

.viewUser__update {
	display: flex;
	border: none;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}

.viewUser__icon {
	color: rgb(182, 45, 45);
}

table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	margin-top: 30px;
}

table thead {
	background-color: rgba(17, 70, 143, 0.04);
	width: 100%;
}

table tr {
	padding: 0.35em;
}

table th,
table td {
	padding: 0.625em;
	text-align: left;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	color: #6e6b7b;
	width: 100%;
}

table th {
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@media screen and (max-width: 754px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: 0.625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		text-align: right;
		font-size: 10px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color: #6e6b7b;
		/* @include media('<=425px') {
			font-size: 9px;
		} */
	}

	table td::before {
		/*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}
